body{
  margin: 0;
  font-family: "HelveticaNeue-Light", helvetica;
}

.header{
  padding: 20px 0px;
  background: #50E3C2;
  width: 100%;
  height: 20px;
  box-shadow: 0 4px 9px -8px #000000;
  color: white;
}

.title {
  text-align: center;
  font-size: 20px;

}

.button {
  position: absolute;
  right: 15px;
  top: 15px;
}

button{
  color: white;
  font-size: 20px;
  background: none;
  border: none;
}

.list{
  display: flex;
  flex-direction: column;
}

.item{
  border-bottom: 1px solid lightgrey;
  padding: 20px;
  display: flex;
}

.task {
  margin-left: -20px;
}

.check {
  flex: 0 1 auto;
  width: 100px;
  margin-right: auto;
}
